<div class=results id="form">
    <form action="">
      <div class="form-group">
        <div class="row">
          <div class="col-md-8">
            <input type="text" class="form-control" placeholder="Search the username of any github user!" [(ngModel)]="username"  name="username">
          </div>
          <div class="col-sm-4">
            <button class="btn" (click)="searchProfile()">Search</button>
          </div>
        </div>
      </div>
    </form>
  <div class= "count" *ngIf= "user">
    <div class="panel">
      <div class="panel-heading">
        <h3 appHighlight>{{user.login}}</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-3">
            <img src="{{user.avatar_url}}" class="img-circle img-responsive" alt="{{user.login}}">
          </div>
          <div class="col-sm-5">
            <ul class="list-group">
                <li class="list-group-item">{{user.name | bolden}} &mdash;{{user.login}}</li>
            </ul>
          </div>
          <div class="col-sm-4">
            <div>
              <p>
                <span class="label">Followers:{{user.followers}} </span> 
                <span class="label">Following: {{user.following}}</span>
                <span class="label">Repositories:{{user.public_repository}} </span>
              </p>
              <p><a href="{{user.html_url}}" target="_blank" class="btn btn-md">View this profile on GitHub</a></p>
        <div class= "describe">
                <div class="panel-heading">
                  <h3 class="panel-heading">Repositories</h3>
                </div>
                <div class="panel-body" *ngFor="let repos of reposArray">
                  <p><a href="{{repos.html_url}}" target="_blank" class="btn btn-md">{{repos.name}}</a></p>
                  <p>{{repos.description}} </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  