.main{
    background-image: url("https://wallpaper-house.com/data/out/1/wallpaper2you_13488.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
}
/* .container{
    font-size: 20px; 
    opacity: 0.9;
    filter: alpha(opacity=70);
    color: white;
    padding: 5%;
} */
